@font-face {
	font-family: IntelOneMono-Light;
	src: url("fonts/IntelOneMono-Light.woff2") format("woff");
	font-display: swap;
}

@font-face {
	font-family: IntelOneMono-Bold;
	src: url("fonts/IntelOneMono-Bold.woff2") format("woff");
	font-display: swap;
}

:root {
	--text-color: silver;
	--bg-color: #25292e;
	--fg-color: #464d55;
}

* {
  font-family: IntelOneMono-Light;
	color: var(--text-color);
}

body, html {
	background-color: var(--bg-color);
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-size: 1rem;
}

h1 {
	font-size: 1rem;
	font-family: IntelOneMono-Bold;
	margin: 0;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	margin: 0.5rem 0;
}

td {
	padding: 0;
}

input {
	background: var(--fg-color);
	border: none;
	padding: 0.25rem;
	margin: 0.1rem 0 0.25rem 0.5rem;
}

input:focus {
	outline: 1px solid var(--text-color);
}

button {
	border-radius: 0.5rem;
	border: none;
	text-transform: uppercase;
	background-image: linear-gradient(var(--fg-color), var(--bg-color));
	box-shadow: 0px 0px 3px var(--fg-color);
	padding: 0 0.5rem
}

button:hover {
	box-shadow: 0px 0px 6px var(--fg-color);
}

.hidden {
	display: none;
	visibility: hidden;
}

.item {
	padding: 0.5rem;
	border-bottom: 1px dashed var(--fg-color);
}
